<h1></br></h1>
<div class ="container">

<div class= "forms ">
<form name="myform"   method="POST" class ="leftForm">

    <select name="mydropdown" >
      <option>News Source</option>
      <option value="fox">Fox News</option>
      <option value="msnbc">MSNBC</option>
      <option value="cnn">CNN</option>
      <option value="abc">ABC</option>
    </select>

</form>


<form name="myform2" method="POST" class = "rightForm">

    <select name="mydropdown" >
      <option>News Source</option>
      <option value="fox">Fox News</option>
      <option value="msnbc">MSNBC</option>
      <option value="cnn">CNN</option>
      <option value="abc">ABC</option>
    </select>

</form>
</div>


<div class="panels">
  <object type="text/html" data="http://www.msnbc.com" width ="49.5%" height="100%" ></object>
  <object type="text/html" data="http://www.foxnews.com" width ="49.5%"height="100%" ></object>
</div>
</div>

