<h1></h1>

<div id="panels">
  <object type="text/html" data="http://www.msnbc.com" width ="49.5%" height="1000"></object>
  <object type="text/html" data="http://www.foxnews.com" width ="49.5%" height="1000"></object>
</div>
